# https://github.com/github/gitignore/blob/master/Python.gitignore
__pycache__/

*.pyc
*.pyd
*.so
*.ipynb
.ipynb_checkpoints
_build
build/
dist/
shell_files/


*.hd5
*.csv

.env
.vim
.nvimrc
.vscode

qlib/VERSION.txt
qlib/data/_libs/expanding.cpp
qlib/data/_libs/rolling.cpp
examples/estimator/estimator_example/
examples/rl/data/
examples/rl/checkpoints/
examples/rl/outputs/
examples/rl_order_execution/data/
examples/rl_order_execution/outputs/

examples/benchmarks_dynamic/incremental/checkpoints/model_fac_9.pkl
examples/benchmarks_dynamic/incremental/checkpoints/model_fac_11.pkl

examples/benchmarks_dynamic/incremental/outputs/*
!examples/benchmarks_dynamic/incremental/outputs/.gitkeep

examples/benchmarks_dynamic/incremental/books/*
!examples/benchmarks_dynamic/incremental/books/.gitkeep

examples/benchmarks_dynamic/incremental/results/*
!examples/benchmarks_dynamic/incremental/results/.gitkeep

examples/benchmarks_dynamic/incremental/dataset_j/calendar_c_21_test_2.pkl
examples/benchmarks_dynamic/incremental/dataset_j/y1_y2_c_21_test_2.pkl

*.egg-info/

# test related
test-output.xml
.output
.data

# special software
mlruns/

tags

.pytest_cache/
.mypy_cache/
.vscode/

*.swp

./pretrain
.idea/

.DS_Store


### newly added
benchmark_dynamic/results/*
!benchmark_dynamic/results/.gitkeep
benchmark_dynamic/outputs/*
!benchmark_dynamic/outputs/.gitkeep
benchmark_dynamic/checkpoints/*
!benchmark_dynamic/checkpoints/.gitkeep








